@import '../../../../../dist/scss/variables.scss';

h1{
    width: 100%;
    padding: 15px 0;

    text-align: center;
    font-size: 1em;
    color: $secondary-text-color;

    background-color: $tertianary-background-color;
}